body {
  margin: 0;
  font-family: "Hack";
  font-size: 0.8em;
  font-weight: 400;
  color: #e5e9f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  scroll-behavior: smooth !important;
}
body::-webkit-scrollbar {
  width: 0.8em; /* width of the entire scrollbar */
}
body {
  color: white;
}
body::-webkit-scrollbar-track {
  background: #0a192f; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #14264a; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.Input {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding: calc(5px + 2vmin);
}
pre {
  color: #e5e9f0;
  font-family: "Hack";
  -webkit-font-smoothing: antialiased;
  animation: typing 0.5s steps(30, end);
  -moz-osx-font-smoothing: grayscale;
  animation-duration: 2s;
  animation-timing-function: steps(30);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  overflow: hidden;
  margin-top: 2em;
  margin-left: 4em;
  margin-bottom: -5em;
}
@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
.info-container,
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.violet {
  color: #c9a0dc;
}

input {
  background-color: #282c34;
  outline: none;
  margin-bottom: 15px;
  margin-left: 5px;
  border: none;
  color: white;
  box-sizing: border-box;
  min-width: 70vw;
  max-width: auto;
}
.msg {
  padding: 0 40px;
}
.about {
  display: flex;
  align-items: center;
  gap: 2em;
}

.about > img {
  background-size: contain;
  width: 20em;
  height: 20em;
  border-radius: 25px;
}
.suggest {
  gap: 1em;
  display: flex;
}

.suggest ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about > ul > li {
  list-style-type: disc;
}
.skill-tag {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(30, 50, 70);
  margin: 10px;
}
.main-container {
  margin-left: 3em;
  margin-bottom: 1em;
}
